__pycache__/*
*~
starlinkgraph.ini
starlink-graph.ini

/obstructions_history/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/animations/
/.idea/inspectionProfiles/profiles_settings.xml
/signals.py
/starlink-graph.cmb.ui
/.idea/starlink-graph.iml
/.idea/vcs.xml
/videocreation.sh
/YaketySax-trimmed.mp3
