__pycache__/*
*~
starlinkgraph.ini
starlink-graph.ini

/obstructions_history/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/animations/obstruction_animation_2022-08-09_20:48:36.mp4
/animations/obstruction_animation_2022-08-09_20:48:361.mp4
/animations/obstruction_animation_2022-08-09_21:37:27.mp4
/animations/obstruction_animation_2022-08-09_21:42:05.mp4
/animations/obstruction_animation_2022-08-09_21:43:02.mp4
/animations/obstruction_animation_2022-08-09_22:04:07.mp4
/animations/obstruction_animation_2022-08-09_22:07:39.mp4
/animations/obstruction_animation_2022-08-09_22:08:22.mp4
/animations/obstruction_animation_2022-08-09_22:09:59.mp4
/animations/obstruction_animation_2022-08-09_22:10:26.mp4
/animations/obstruction_animation_2022-08-09_22:12:32.mp4
/animations/obstruction_animation_2022-08-09_22:14:13.mp4
/animations/obstruction_animation_2022-08-09_22:15:38.mp4
/animations/obstruction_animation_2022-08-09_22:17:36.mp4
/animations/obstruction_animation_2022-08-09_22:20:30.mp4
/animations/obstruction_animation_2022-08-09_22:22:56.mp4
/animations/obstruction_animation_2022-08-09_22:27:49.mp4
/animations/obstruction_animation_2022-08-09_22:31:18.mp4
/animations/obstruction_animation_2022-08-09_22:32:09.mp4
/animations/obstruction_animation_2022-08-09_22:32:45.mp4
/animations/obstruction_animation_2022-08-09_22:33:08.mp4
/animations/obstruction_animation_2022-08-09_22:33:32.mp4
/animations/obstruction_animation_2022-08-09_22:41:44.mp4
/animations/obstruction_animation_2022-08-09_22:45:32.mp4
/animations/obstruction_animation_2022-08-09_22:50:39.mp4
/animations/obstruction_animation_2022-08-09_22:51:17.mp4
/animations/obstruction_animation_2022-08-09_22:59:49.mp4
/animations/obstruction_animation_2022-08-09_23:01:10.mp4
/animations/obstruction_animation_2022-08-09_23:01:44.mp4
/animations/obstruction_animation_2022-08-09_23:03:18.mp4
/animations/obstruction_animation_2022-08-09_23:16:15.mp4
/animations/obstruction_animation_2022-08-10_00:08:20.mp4
/animations/obstruction_animation_2022-08-10_00:10:02.mp4
/animations/obstruction_animation_2022-08-10_00:11:29.mp4
/animations/obstruction_animation_2022-08-10_00:16:29.mp4
/animations/obstruction_animation_2022-08-10_00:17:00.mp4
/animations/obstruction_animation_2022-08-10_00:18:13.mp4
/animations/obstruction_animation_2022-08-10_00:22:49.mp4
/animations/obstruction_animation_2022-08-10_00:25:06.mp4
/animations/obstruction_animation_2022-08-10_00:28:01.mp4
/animations/obstruction_animation_2022-08-10_00:29:14.mp4
/animations/obstruction_animation_2022-08-10_00:29:48.mp4
/animations/obstruction_animation_2022-08-10_00:31:18.mp4
/animations/obstruction_animation_2022-08-10_00:34:17.mp4
/animations/obstruction_animation_2022-08-10_00:35:35.mp4
/animations/obstruction_animation_2022-08-10_00:38:45.mp4
/animations/obstruction_animation_2022-08-10_00:40:45.mp4
/animations/obstruction_animation_2022-08-10_00:45:06.mp4
/animations/obstruction_animation_2022-08-10_00:48:14.mp4
/animations/obstruction_animation_2022-08-10_00:51:05.mp4
/animations/obstruction_animation_2022-08-10_00:53:37.mp4
/animations/obstruction_animation_2022-08-10_00:55:06.mp4
/animations/obstruction_animation_2022-08-10_00:55:41.mp4
/animations/obstruction_animation_2022-08-10_00:57:05.mp4
/animations/obstruction_animation_2022-08-10_02:15:52.mp4
/animations/obstruction_animation_2022-08-10_02:17:45.mp4
/animations/obstruction_animation_2022-08-10_02:19:48.mp4
/animations/obstruction_animation_2022-08-10_02:21:30.mp4
/animations/obstruction_animation_2022-08-10_02:22:11.mp4
/animations/obstruction_animation_2022-08-10_02:25:02.mp4
/animations/obstruction_animation_2022-08-10_02:26:54.mp4
/animations/obstruction_animation_2022-08-10_02:28:42.mp4
/animations/obstruction_animation_2022-08-10_02:30:14.mp4
/animations/obstruction_animation_2022-08-10_03:01:18.mp4
/animations/obstruction_animation_2022-08-10_03:03:12.mp4
/animations/obstruction_animation_2022-08-10_03:05:04.mp4
/animations/obstruction_animation_2022-08-10_03:06:38.mp4
/animations/obstruction_animation_2022-08-10_03:09:42.mp4
/animations/obstruction_animation_2022-08-10_03:10:35.mp4
/animations/obstruction_animation_2022-08-10_03:11:07.mp4
/animations/obstruction_animation_2022-08-10_03:13:52.mp4
/animations/obstruction_animation_2022-08-10_03:16:06.mp4
/animations/obstruction_animation_2022-08-10_03:16:42.mp4
/animations/obstruction_animation_2022-08-10_03:23:21.mp4
/animations/obstruction_animation_2022-08-10_03:37:47.mp4
/animations/obstruction_animation_2022-08-10_03:38:36.mp4
/animations/obstruction_animation_2022-08-10_03:43:04.mp4
/animations/obstruction_animation_2022-08-10_04:01:47.mp4
/animations/obstruction_animation_2022-08-10_04:01:56.mp4
/animations/obstruction_animation_2022-08-10_04:04:48.mp4
/animations/obstruction_animation_2022-08-10_04:05:40.mp4
/animations/obstruction_animation_2022-08-10_04:05:53.mp4
/animations/obstruction_animation_2022-08-10_04:07:48.mp4
/animations/obstruction_animation_2022-08-10_04:08:01.mp4
/animations/obstruction_animation_2022-08-10_04:08:54.mp4
/animations/obstruction_animation_2022-08-10_04:10:58.mp4
/animations/obstruction_animation_2022-08-10_04:13:35.mp4
/animations/obstruction_animation_2022-08-10_04:14:50.mp4
/animations/obstruction_animation_2022-08-10_04:15:50.mp4
/animations/obstruction_animation_2022-08-10_04:16:04.mp4
/animations/obstruction_animation_2022-08-10_04:17:40.mp4
/animations/obstruction_animation_2022-08-10_04:20:41.mp4
/animations/obstruction_animation_2022-08-10_04:25:19.mp4
/animations/obstruction_animation_2022-08-10_04:25:27.mp4
/animations/obstruction_animation_2022-08-10_04:25:40.mp4
/animations/obstruction_animation_2022-08-10_04:25:47.mp4
/animations/obstruction_animation_2022-08-10_22:10:59.mp4
/animations/obstruction_animation_2022-08-10_22:12:34.mkv
/animations/obstruction_animation_2022-08-10_22:24:25.mkv
/animations/obstruction_animation_2022-08-10_22:26:40.mkv
/animations/obstruction_animation_2022-08-10_23:57:22.mkv
/.idea/inspectionProfiles/profiles_settings.xml
/signals.py
/starlink-graph.cmb.ui
/.idea/starlink-graph.iml
/.idea/vcs.xml
/videocreation.sh
/YaketySax-trimmed.mp3
