__pycache__/*
*~
starlinkgraph.ini
starlink-graph.ini

/obstructions_history/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/animations/
/.idea/inspectionProfiles/profiles_settings.xml
/signals.py
/starlink-graph.cmb.ui
/.idea/starlink-graph.iml
/.idea/vcs.xml
/videocreation.sh
/YaketySax-trimmed.mp3
*.pyc
/pythonsqlite.db
/sqlite-test.py
/starlink-history.db
/starlink-graph.ini.save
/*.py#
/starlink-history.db-journal
/scan.log
